- model_class = Player
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th
        %a(href='?order=0') Score
      %th
        Golfer1
      %th
        Golfer2
      %th
        Golfer3
      %th
        %a(href='?order=1') Temp score
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @players.each do |player|
      %tr
        %td= link_to player.id, player_path(player)
        %td= player.name
        %td= player.points
        %td
          -begin
            = player.tips.find_by_rond_id(Rond.last.id).golfers.first.name
          -rescue
        %td
          -begin
            = player.tips.find_by_rond_id(Rond.last.id).golfers.second.name
          -rescue
        %td
          - begin
            = player.tips.find_by_rond_id(Rond.last.id).golfers.third.name
          -rescue
        %td
          = player.temp_score
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_player_path(player), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), player_path(player), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_player_path, :class => 'btn btn-primary'
