- model_class = Association
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:golfer_id)
      %th= model_class.human_attribute_name(:player_id)
      %th= model_class.human_attribute_name(:tip_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @associations.each do |association|
      %tr
        %td= link_to association.id, association_path(association)
        %td= association.golfer_id
        %td= association.player_id
        %td= association.tip_id
        %td=l association.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_association_path(association), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), association_path(association), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_association_path, :class => 'btn btn-primary'
